{% extends "_base.html" %}

{% block content %}
    <h1>Ideas</h1>
    <br>
    <a href="{{ url_for('user.create_idea') }}">Add an Idea</a>

    <table class="table">
    <thead>
        <tr>
            <th>Idea No.</th>
            <th>Title</th>
            <th>Vote Count</th>
        </tr>
    </thead>
    <tbody>
    {% for idea in ideas %}
    <tr>
        <td>{{ idea.id }}</td>
        <td><a href="{{ url_for('user.idea_detail', idea=idea.id) }}">{{ idea.title }}</a></td>
        <!-- <td>{{ idea.description }}</td> -->
        <td>{{ idea.vote_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}