{% extends "_base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        <h1>{{ title }}</h1>

        <a class="btn btn-dark btn-lg ml-auto" href="{{ url_for('user.create_idea') }}">
            <i class="fa fa-plus-circle"></i> Add an Idea
        </a>
    </div>
    <br>
    <br>
    {% if ideas | length > 0 %}
    {% for idea_row in ideas | slice(2) %}
    <div class="row">
        {% for idea in idea_row %}
        <div class="col-sm-6">
            <div class="card border-secondary mb-3" style="max-width: 28rem;">
                <div class="card-body text-secondary">
                    <h5 class="card-title">{{ idea.title }}</h5>
                    <p class="card-text">Created By: <a href={{ url_for('user.user_profile', username=idea.get_username(idea.owner)) }}>{{ idea.get_username(idea.owner) }}</a></p>
                    <a href={{ url_for('user.idea_detail', idea=idea.id) }} class="btn btn-dark">Details</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    No ideas today.  Go make some!
    {% endif %}

{% endblock %}

</div>