{% extends "_base.html" %}

{% block content %}

    <div class="container">

        <nav aria-label="...">
            <ul class="pagination">
                <li class="previous">
                    <a class="btn btn-dark ml-auto" href="{{ url_for("user.ideas") }}">
                        <i class="fa fa-arrow-left"></i> Go Back
                    </a>
                </li>
            </ul>
        </nav>

    <br><br>

    <span class="badge badge-secondary">{{ idea.access }}</span>
    <h1>Title </h1>
    <p>{{ idea.title }} </p>

    <br><br>

    <h1>Description</h1>
    <p>{{ idea.description|safe }}</p>

    <br><br>

    <a class="btn btn-dark btn-lg ml-auto" href="{{ url_for('user.edit_idea', idea=idea.id) }}">
        <i class="fa fa-pencil"></i> Edit
    </a>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirmModal">
        <i class="fa fa-times"></i> Remove
    </button>



    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Are you Sure you want to remove this idea?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger btn-lg ml-auto" href="{{ url_for('user.delete_idea', idea=idea.id) }}">
                        <i class="fa fa-times"></i> Confirm Remove
                    </a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

</div>